

{% extends 'base/base.html' %}
{% block contenido %}
{% load static %}
<!DOCTYPE html>
<html>
    
    <head>
      
        <link rel = "stylesheet" href = "{% static 'css/bootstrap.css' %}">
    </head>

    <body>
        
        <div class="album py-5 bg-light" style="margin-left : 35%;margin-right: 35%; margin-top: 5%;">
            <div class="container">

                <form method="POST">{% csrf_token %}

                    <div class="h1">COMENTAR</div>
                    <br>
                    {{form.as_p}}
                    <br>
                    <button type="submit" class="btn btn-primary" style="margin-left : 25%;margin-right: 35%">COMENTAR</button>
                        
                </form>    

            </div>
        </div>
       
      <!-- JavaScript Bundle with Popper -->
      <script src="{% static 'js/bootstrap.js' %}" type="text/javascript"></script>
      <br><br><br><br><br><br>
    </body>
</html>
{% endblock contenido %}