
{% load static %}
<!DOCTYPE html>
<html>
  <head>
    
     
      <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Blog</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'inicio' %}">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'noticias' %}">Noticias</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Contactos
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Facebook</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Instagram</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Telefono</a></li>
                </ul>
              </li>
            </ul>
            
            <a href="{% url 'login' %}"><button class="btn btn-outline-success" type="submit">Iniciar Seccion</button>
            </a> 
            
          </div>
        </div>
      </nav>
      <link rel = "stylesheet" href = "{% static 'css/bootstrap.css' %}" >
      
  </head>

  <body>
     <head>
        <meta charset = "utf-8" />
        <meta name="viewport" content="width=device-width">
       
        <title>Proyecto Final</title>
        
        <link rel="stylesheet" href="style/portada.css">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
        
      </head>
     
   

      <header>
            <div class="caja">
            <h1><img src="{% static 'imagenes/logo1.png' %}"/></h1>      
      </header> 
         
      <main>
        <section class="principal">
              <h1 class="titulo-principal">Misión y Visión</h1>
              <p>Somos la Primera Institución en implementar la formación Técnica en Economía Social y Desarrollo Local en la Provincia del Chaco y actualmente la Única en el País que dicta esta especialización complementada con conocimientos en derechos portuarios y aduaneros, comercio internacional y énfasis en el manejo técnico de los idiomas Castellano, Inglés y Portugués.</p>

                  <p>También desde la formación de sus cuadros técnicos en Gestión Ambiental hemos aportado desde profesionales que no solo fueron los diseñadores de plantas de reciclado de residuos sólidos urbanos, sino que hoy mismo las conducen; hasta profesionales que permanentemente diseñan, implementan y gestionan en la provincia proyectos nacionales e internacionales con financiamiento externo.</p>
                  <p>Mantenemos Convenios de colaboración interinstitucional con Municipios de la Provincia del Chaco sino también con la comuna de la Provincia de Santa Fe como de Villa Guillermina.</p>
                  <p>Nuestras carreras tienen distintas modalidades de cursado y hemos implementando una modelo Académico Virtual y dar mayor soporte digital a todos nuestros alumnos. Esto lo hacemos con esfuerzo e iniciativa propia para justamente convertirnos en referencia de excelencia académica y proyección profesional dentro del campo Académico Superior de la zona Sur del Gran Resistencia.</p>
                  <p>Para este 2022 el M.E.C.C.yT ha dictado la resolución ministerial, por la que autoriza a la U.E.G.P. Nº161 “Instituto BARRANQUERAS” iniciar el dictado, sin subvención, de las Tecnicaturas Superiores en:</p> 
                        
                      <center><p><b>1. Administración Municipal.</b></p>
                            
                          <p><b>2.Desarrollo de Software.</p></center></b>
                        
                        <p>Esta trascendente autorización alcanzada coloca a la Institución frente a un hermoso desafío que para el cumplimiento de las metas que requiere la implementación de las mismas, se toma la decisión de conformar la U.A.C. (Unidad Administrativa Contable)</p>

                        <p>Desde el enfoque en la cuestión Administrativa Contable, se pretende de esta Unidad de Gestión obtener la información necesaria para planificar. Asimismo se apunta a la obtención de esta información otorgando más importancia a los datos cualitativos y a los costes, utilizándolos en el análisis de las decisiones como estimaciones para predecir el futuro de la esta línea de Servicio.</p> 

        </section > 
                
        <section class="mapa">
              <h3 class="titulo-principal"> Nuestra Ubicación </h3>
              <p> Nuestro establecimiento está ubicado en el corazón de la ciudad de Barranqueras</p>

              <div class="mapa-contenido">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3539.5539798182!2d-58.94517442052027!3d-27.48314178296902!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x944572b5f0549acf%3A0x9458d5f8b4ad4560!2sDiag.%20Eva%20Per%C3%B3n%20425%2C%20H3503%20Barranqueras%2C%20Chaco!5e0!3m2!1ses-419!2sar!4v1660767211304!5m2!1ses-419!2sar" width="800" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
              </div>
                

        </section>
        
            <section class="diferenciales">
        
                  <h2 class="titulo-principal">Contacto</h2>
                    <p class="contactos">
                      Teléfono: +54 362 425 0382   
                      </p>
                      <p class="contactos">
                          Email: uep161info@educ.ar
                      </p>
                      <p class="contactos">Gustavo Toranzo – cel: +54 3482 60-3586 </p>
                      <a href="https://www.instagram.com/institutobarranqueras/ "> Instagram</a>
            </section>

      </main>
      <footer>
            
            <img class="informatorio" src="{% static 'imagenes/logo-info.png' %}">
            <p class="Copyright">&copy Copyright Informatorio Etapa 2- Grupo N° 13 - 2022 </p>
      </footer>

      <!-- JavaScript Bundle with Popper -->
    <script src="{% static 'js/bootstrap.js' %}" type="text/javascript"></script>
  </body>
</html>