{% extends 'base/base.html' %}
{% load static %}
{% block contenido %}


<!DOCTYPE html>
<html>
    <head>
        <link rel = "stylesheet" href = "{% static 'css/bootstrap.css' %}">
    </head>
    <body>
    
      
      {% for p in post %}
      <div class="card text-center" style="width: auto; margin: auto auto">
        <img src="{{ p.images.url }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ p.titulo }}</h5>
          <p class="card-text">{{ p.detalles }}</p>
          <a href="{% url 'inicio' %}" class="btn btn-primary stretched-link">Comentar</a>
        </div>
      </div>
      {% endfor %}    

      <!-- JavaScript Bundle with Popper -->
      <script src="{% static 'js/bootstrap.js' %}" type="text/javascript"></script>
    </body>
  </html>
  {% endblock contenido %}